
.DS_Store
*.pyc
data_sources/*/*_dir/*_filtered.gb
data_sources/GRCH38_sequences_1000/AK2_dir/AK2_filtered.gb
data_sources/GRCH38_sequences_1000/AK2_dir/AK2_filtervar.gb
data_sources/GRCH38_sequences_1000/ATM_dir/ATM_filtered.gb
data_sources/GRCH38_sequences_1000/ATM_dir/ATM_filtervar.gb
data_sources/GRCH38_sequences_1000/BARD1_dir/BARD1_filtered.gb
data_sources/GRCH38_sequences_1000/BARD1_dir/BARD1_filtervar.gb
data_sources/GRCH38_sequences_1000/BRCA1_dir/BRCA1_filtered.gb
data_sources/GRCH38_sequences_1000/BRCA1_dir/BRCA1_filtervar.gb
data_sources/GRCH38_sequences_1000/BRCA2_dir/BRCA2_filtered.gb
data_sources/GRCH38_sequences_1000/BRCA2_dir/BRCA2_filtervar.gb
data_sources/GRCH38_sequences_1000/BRCA2_minus_dir/BRCA2_filtered.gb
data_sources/GRCH38_sequences_1000/BRCA2_minus_dir/BRCA2_filtervar.gb
data_sources/GRCH38_sequences_1000/BRIP1_dir/BRIP1_filtered.gb
data_sources/GRCH38_sequences_1000/BRIP1_dir/BRIP1_filtervar.gb
data_sources/GRCH38_sequences_1000/CDH1_dir/CDH1_filtered.gb
data_sources/GRCH38_sequences_1000/CDK12_dir/CDK12_filtered.gb
data_sources/GRCH38_sequences_1000/CDK12_dir/CDK12_filtervar.gb
data_sources/GRCH38_sequences_1000/CHEK1_dir/CHEK1_filtered.gb
data_sources/GRCH38_sequences_1000/CHEK1_dir/CHEK1_filtervar.gb
data_sources/GRCH38_sequences_1000/CHEK2_dir/CHEK2_filtered.gb
data_sources/GRCH38_sequences_1000/CHEK2_dir/CHEK2_filtervar.gb
data_sources/GRCH38_sequences_1000/CIITA_dir/CIITA_filtered.gb
data_sources/GRCH38_sequences_1000/CIITA_dir/CIITA_filtervar.gb
data_sources/GRCH38_sequences_1000/EGFR_dir/EGFR_filtered.gb
data_sources/GRCH38_sequences_1000/EGFR_dir/EGFR_filtervar.gb
data_sources/GRCH38_sequences_1000/EPCAM_dir/EPCAM_filtered.gb
data_sources/GRCH38_sequences_1000/EPCAM_dir/EPCAM_filtervar.gb
data_sources/GRCH38_sequences_1000/FANCL_dir/FANCL_filtered.gb
data_sources/GRCH38_sequences_1000/FANCL_dir/FANCL_filtervar.gb
data_sources/GRCH38_sequences_1000/KRAS_dir/KRAS_filtered.gb
data_sources/GRCH38_sequences_1000/KRAS_dir/KRAS_filtervar.gb
data_sources/GRCH38_sequences_1000/KRAS_minus_dir/KRAS_filtered.gb
data_sources/GRCH38_sequences_1000/KRAS_minus_dir/KRAS_filtervar.gb
data_sources/GRCH38_sequences_1000/MLH1_dir/MLH1_filtered.gb
data_sources/GRCH38_sequences_1000/MLH1_dir/MLH1_filtervar.gb
data_sources/GRCH38_sequences_1000/MSH2_dir/MSH2_filtered.gb
data_sources/GRCH38_sequences_1000/MSH2_dir/MSH2_filtervar.gb
data_sources/GRCH38_sequences_1000/MSH6_dir/MSH6_filtered.gb
data_sources/GRCH38_sequences_1000/MSH6_dir/MSH6_filtervar.gb
data_sources/GRCH38_sequences_1000/NBN_dir/NBN_filtered.gb
data_sources/GRCH38_sequences_1000/NBN_dir/NBN_filtervar.gb
data_sources/GRCH38_sequences_1000/NCF1_dir/NCF1_filtered.gb
data_sources/GRCH38_sequences_1000/NCF1_dir/NCF1_filtervar.gb
data_sources/GRCH38_sequences_1000/NF1_dir/NF1_filtered.gb
data_sources/GRCH38_sequences_1000/NF1_dir/NF1_filtervar.gb
data_sources/GRCH38_sequences_1000/PALB2_dir/PALB2_filtered.gb
data_sources/GRCH38_sequences_1000/PALB2_dir/PALB2_filtervar.gb
data_sources/GRCH38_sequences_1000/PMS2_dir/PMS2_filtered.gb
data_sources/GRCH38_sequences_1000/PMS2_dir/PMS2_filtervar.gb
data_sources/GRCH38_sequences_1000/PPP2R2A_dir/PPP2R2A_filtered.gb
data_sources/GRCH38_sequences_1000/PPP2R2A_dir/PPP2R2A_filtervar.gb
data_sources/GRCH38_sequences_1000/PTEN_a_dir/PTEN_filtered.gb
data_sources/GRCH38_sequences_1000/PTEN_a_dir/PTEN_filtervar.gb
data_sources/GRCH38_sequences_1000/PTEN_dir/PTEN_filtered.gb
data_sources/GRCH38_sequences_1000/PTEN_dir/PTEN_filtervar.gb
data_sources/GRCH38_sequences_1000/RAD51B_dir/RAD51B_filtered.gb
data_sources/GRCH38_sequences_1000/RAD51B_dir/RAD51B_filtervar.gb
data_sources/GRCH38_sequences_1000/RAD51C_dir/RAD51C_filtered.gb
data_sources/GRCH38_sequences_1000/RAD51C_dir/RAD51C_filtervar.gb
data_sources/GRCH38_sequences_1000/RAD51D_dir/RAD51D_filtered.gb
data_sources/GRCH38_sequences_1000/RAD51D_dir/RAD51D_filtervar.gb
data_sources/GRCH38_sequences_1000/RAD54L_dir/RAD54L_filtered.gb
data_sources/GRCH38_sequences_1000/RAD54L_dir/RAD54L_filtervar.gb
data_sources/GRCH38_sequences_1000/STK11_dir/STK11_filtered.gb
data_sources/GRCH38_sequences_1000/STK11_dir/STK11_filtervar.gb
data_sources/GRCH38_sequences_1000/TP53_dir/TP53_filtered.gb
data_sources/GRCH38_sequences_1000/TP53_dir/TP53_filtervar.gb
data_sources/GRCH37_sequences_1000/AK2_dir/AK2_filtered.gb
data_sources/GRCH37_sequences_1000/AK2_dir/AK2_filtervar.gb
data_sources/GRCH37_sequences_1000/ATM_dir/ATM_filtered.gb
data_sources/GRCH37_sequences_1000/ATM_dir/ATM_filtervar.gb
data_sources/GRCH37_sequences_1000/BARD1_dir/BARD1_filtered.gb
data_sources/GRCH37_sequences_1000/BARD1_dir/BARD1_filtervar.gb
data_sources/GRCH37_sequences_1000/BRCA1_dir/BRCA1_filtered.gb
data_sources/GRCH37_sequences_1000/BRCA1_dir/BRCA1_filtervar.gb
data_sources/GRCH37_sequences_1000/BRCA2_dir/BRCA2_filtered.gb
data_sources/GRCH37_sequences_1000/BRCA2_dir/BRCA2_filtervar.gb
data_sources/GRCH37_sequences_1000/BRIP1_dir/BRIP1_filtered.gb
data_sources/GRCH37_sequences_1000/BRIP1_dir/BRIP1_filtervar.gb
data_sources/GRCH37_sequences_1000/CDH1_dir/CDH1_filtered.gb
data_sources/GRCH37_sequences_1000/CDH1_dir/CDH1_filtervar.gb
data_sources/GRCH37_sequences_1000/CDK12_dir/CDK12_filtered.gb
data_sources/GRCH37_sequences_1000/CDK12_dir/CDK12_filtervar.gb
data_sources/GRCH37_sequences_1000/CHEK1_dir/CHEK1_filtered.gb
data_sources/GRCH37_sequences_1000/CHEK1_dir/CHEK1_filtervar.gb
data_sources/GRCH37_sequences_1000/CHEK2_dir/CHEK2_filtered.gb
data_sources/GRCH37_sequences_1000/CHEK2_dir/CHEK2_filtervar.gb
data_sources/GRCH37_sequences_1000/CIITA_dir/CIITA_filtered.gb
data_sources/GRCH37_sequences_1000/CIITA_dir/CIITA_filtervar.gb
data_sources/GRCH37_sequences_1000/EGFR_dir/EGFR_filtered.gb
data_sources/GRCH37_sequences_1000/EGFR_dir/EGFR_filtervar.gb
data_sources/GRCH37_sequences_1000/EPCAM_dir/EPCAM_filtered.gb
data_sources/GRCH37_sequences_1000/EPCAM_dir/EPCAM_filtervar.gb
data_sources/GRCH37_sequences_1000/FANCL_dir/FANCL_filtered.gb
data_sources/GRCH37_sequences_1000/FANCL_dir/FANCL_filtervar.gb
data_sources/GRCH37_sequences_1000/KRAS_dir/KRAS_filtered.gb
data_sources/GRCH37_sequences_1000/KRAS_dir/KRAS_filtervar.gb
data_sources/GRCH37_sequences_1000/KRAS_minus_dir/KRAS_filtered.gb
data_sources/GRCH37_sequences_1000/KRAS_minus_dir/KRAS_filtervar.gb
data_sources/GRCH37_sequences_1000/MLH1_dir/MLH1_filtered.gb
data_sources/GRCH37_sequences_1000/MLH1_dir/MLH1_filtervar.gb
data_sources/GRCH37_sequences_1000/MSH2_dir/MSH2_filtered.gb
data_sources/GRCH37_sequences_1000/MSH2_dir/MSH2_filtervar.gb
data_sources/GRCH37_sequences_1000/MSH6_dir/MSH6_filtered.gb
data_sources/GRCH37_sequences_1000/MSH6_dir/MSH6_filtervar.gb
data_sources/GRCH37_sequences_1000/NBN_dir/NBN_filtered.gb
data_sources/GRCH37_sequences_1000/NBN_dir/NBN_filtervar.gb
data_sources/GRCH37_sequences_1000/NCF1_dir/NCF1_filtered.gb
data_sources/GRCH37_sequences_1000/NCF1_dir/NCF1_filtervar.gb
data_sources/GRCH37_sequences_1000/NF1_dir/NF1_filtered.gb
data_sources/GRCH37_sequences_1000/NF1_dir/NF1_filtervar.gb
data_sources/GRCH37_sequences_1000/PALB2_dir/PALB2_filtered.gb
data_sources/GRCH37_sequences_1000/PALB2_dir/PALB2_filtervar.gb
data_sources/GRCH37_sequences_1000/PMS2_dir/PMS2_filtered.gb
data_sources/GRCH37_sequences_1000/PMS2_dir/PMS2_filtervar.gb
data_sources/GRCH37_sequences_1000/PPP2R2A_dir/PPP2R2A_filtered.gb
data_sources/GRCH37_sequences_1000/PPP2R2A_dir/PPP2R2A_filtervar.gb
data_sources/GRCH37_sequences_1000/PTEN_dir/PTEN_filtered.gb
data_sources/GRCH37_sequences_1000/PTEN_dir/PTEN_filtervar.gb
data_sources/GRCH37_sequences_1000/RAD51B_dir/RAD51B_filtered.gb
data_sources/GRCH37_sequences_1000/RAD51B_dir/RAD51B_filtervar.gb
data_sources/GRCH37_sequences_1000/RAD51C_dir/RAD51C_filtered.gb
data_sources/GRCH37_sequences_1000/RAD51C_dir/RAD51C_filtervar.gb
data_sources/GRCH37_sequences_1000/RAD51D_dir/RAD51D_filtered.gb
data_sources/GRCH37_sequences_1000/RAD51D_dir/RAD51D_filtervar.gb
data_sources/GRCH37_sequences_1000/RAD54L_dir/RAD54L_filtered.gb
data_sources/GRCH37_sequences_1000/RAD54L_dir/RAD54L_filtervar.gb
data_sources/GRCH37_sequences_1000/STK11_dir/STK11_filtered.gb
data_sources/GRCH37_sequences_1000/STK11_dir/STK11_filtervar.gb
data_sources/GRCH37_sequences_1000/TP53_dir/TP53_filtered.gb
data_sources/GRCH37_sequences_1000/TP53_dir/TP53_filtervar.gb
